/* Start Variable */
:root {
  --main-color: #10cab7;
  --secondary-color: rgb(29, 78, 90);
  --section-padding: 60px;
  --main-transition: 0.3s;
}
/* End Variables */
/* Start Components  */
.special-heading {
  color: #ececed;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  user-select: none;
  transition: var(--main-transition);
  margin: 0;  
  text-align: center;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.special-heading:hover {
  color: var(--main-color);
}
.special-heading + p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 20px;
  color: #777;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 14px;
    margin: -20px 0 0;
  }
}
/* End Components  */
/* Start global Rules */
body {
    font-family: "Work Sans", sans-serif;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
html {
  scroll-behavior: smooth;
}
/* Small */

@media (min-width: 788px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules  */
/* Start Header  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-transition);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  position: absolute;
  right: 0;
  background-color: #F6F6F6;
  transition: var(--main-transition);
  margin: 0;
  padding: 0;
  top: calc(100% + 15px);
  width: 200px;
  z-index: 1;
  display: none;
}
.header .links ul::before {
  content: "";
  border-color: transparent transparent #F6F6F6 transparent;
  border-style: solid;
  right: 5px;
  position: absolute;
  top: -20px;
  border-width: 10px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #333;
  transition: var(--main-transition);
}
.header .links ul li:not(:last-child) a {
  border-bottom: 2px solid #D7D7D7;
}
.header .links ul li:hover a  {
  padding-left: 25px;
  color: #33333390;
}
/* End Header  */

/* Start Landing Section */
.landing {
  height: calc(100vh - 64px);
  background-image: url(../images/Landing.jpg);
  background-size: cover;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.9;
}
/* End Landing Section */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #F6F6F6;
  display: flex;

}

.features .feat {
  padding-top: 20px;
  text-align: center;
}

.features .feat:first-child:hover i, .features .feat:first-child:hover h3 {
  color: red;
}
.features .feat:nth-child(2):hover i, .features .feat:nth-child(2):hover h3 {
  color: yellow;
}
.features .feat:nth-child(3):hover i, .features .feat:nth-child(3):hover h3{
  color: slateblue;
}
.features .feat:nth-child(4):hover i, .features .feat:nth-child(4):hover h3 {
  color: orangered;
}
.features .feat:nth-child(5):hover i , .features .feat:nth-child(5):hover h3 {
  color: green;
}
.features .feat:last-child:hover i, .features .feat:last-child:hover h3 {
  color: palevioletred;
} 
.features .feat i {
  transition: var(--main-transition);
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
  transition: var(--main-transition);
}
.features .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}

/* End Features */
/* Start Services */
.services {
  padding-top: var(--section-padding);;
  padding-bottom: var(--section-padding);;
}
.services .services-content {
  margin-top: 120px;
}
.services .services-content  .srv {
  display: flex;
  margin-bottom: 40px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .services .services-content  .srv  {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv h3 {
  margin: 0 0 20px;
  font-weight: 800;
  transition: var(--main-transition);
}
.services .services-content .srv p {
  color: #777;
  font-weight: 300;
  transition: var(--main-transition);
  line-height: 1.6;
}
.services .services-content .col:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-content .image {
  position: relative;
  text-align: center;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: -50px;
  width: 120px;
  height: calc(100% + 100px);
  right: -50px;
  z-index: -1;
}
.services .services-content  .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .services .services-content .image {
    display: none;
  }
}
/* End Services */
/* Start Portfolio  */
.portfolio {
  padding-top: var(--section-padding);;
  padding-bottom: var(--section-padding);;
  background-color: #F6F6F6;
}
.portfolio .portfolio-content {
  margin-top: 80px; 
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img{
  width: 100%;
  transition: var(--main-transition);
}
.portfolio .portfolio-content .card .image {
  overflow: hidden;
}
.portfolio .portfolio-content .card img:hover {
  transform: rotate(15deg) scale(1.3);
  opacity: 0.6;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}
.portfolio .portfolio-content .card .info p{
  color: #777;
  margin-bottom: 0;
  line-height: 1.6;
}
/* End Portfolio  */
/* Start About */
.about {
  padding-top: var(--section-padding);;
  padding-bottom: calc(var(--section-padding) + 60px);;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
@keyframes up-and-down {
  from {
    transform: translateY(20px);
  } 
  to {
    transform: translateY(-20px);
  }
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
  animation-name: up-and-down;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about .about-content .image::before {
  content: "";
  background-color: #ecebed;
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  z-index: -1;
  left: -20px;
}

.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  top: -40px;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::after,
  .about .about-content .image::before {
    display: none;
  }
  .about .about-content .image {
    margin: 30px auto;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  color: #777;
  line-height: 1.8;
}

/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #F6F6F6;
}
.contact .info {
  padding-top: var(--section-padding);
  text-align: center;
  padding-bottom: var(--section-padding);
}
.contact .info .label {
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 30px;
}
.contact .info .link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  display: block;
}
.contact .info .link:hover {
  text-decoration: underline;
}
.contact .social {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 800;
  margin: 20px auto;
}
.contact .social a i {
  font-size: 23px;
  color: var(--secondary-color);
  transition: var(--main-transition);
}
.contact .social a {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px 10px;
  padding: 10px 8px;
  transition: var(--main-transition);
  width: 120px;
}
.contact .social .find-us {
  flex-basis: 100%;
}
.contact .social a:first-of-type:hover i, 
.contact .social a:first-of-type:hover{
  background-color: red;
  color: white;
}
.contact .social a:nth-of-type(2):hover i,
.contact .social a:nth-of-type(2):hover{
  background-color: steelblue;
  color: white;
}
.contact .social a:last-of-type:hover i,
.contact .social a:last-of-type:hover{
  background-color: #10cab7;
  color: white;
}
@media (max-width: 767px) {
  .contact .info .label{
    font-size: 25px;
  }
  .contact .info .link {
    font-size: 20px;
  }
}
/* End Contact */
/* Start Footer  */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}

/* End Footer  */